In [ ]:
print("Hello")

Hello

In [2]:
name = input("Enter your name: ")

In [3]:
print(name)

Stathis

In [4]:
age = input("Enter your age: ")

In [5]:
print(type(age))

<class 'str'>

In [6]:
age = "25"
age = int(age)
print(type(age))

<class 'int'>

In [7]:
age = int(input("Enter your age"))

In [8]:
print(type(age))

<class 'int'>

In [10]:
age = "25"
age = int(age)
print(age + 1)

26

In [11]:
x = int(input("Enter the first number"))
y = int(input("Enter the second number"))
print(x + y)

30

In [12]:
width = int(input("Enter the width: "))
height = int(input("Enter the height: "))
print(width*height)
print(2 * width + 2 * height)

200
60

In [14]:
4 == 4

True

In [15]:
5 > 10

False

In [16]:
4 <= 4

True

In [20]:
age = int(input("Enter your age: "))
if age > 18:
    print("You are an adult")
else:
    print("You are a child")

print("Hello")

You are an adult
Hello

In [24]:
deg = int(input("Enter the temperature outside: "))
if deg < 10:
    print("Its cold outside")
elif deg > 25:
    print("Its warm outside")
else:
    print("Its fine outside")

Its fine outside

In [26]:
username = input("Enter the username: ")
password = int(input("Enter the password: "))
# city = input("Enter the city you live: ")

if username == "admin" and password == 1234:
    print("Welcome admin!")
else:
    print("You are not allowed to use the app")

Welcome admin!

In [28]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [29]:
letters = ["a", "c", "o"]
print(letters)

['a', 'c', 'o']

Προσφορά στο κατάστημα
Ζήτησε από τον χρήστη το ποσό που αγόρασε.
Αν είναι πάνω από 100€, δώσε 20% έκπτωση και εμφάνισε το τελικό ποσό.
Αν είναι πάνω από 50€, δώσε 10% έκπτωση και εμφάνισε το τελικό ποσό.
Αλλιώς, τύπωσε "Δεν υπάρχει έκπτωση".

In [ ]:
ammount = int(input("Enter the ammount you spent: "))

if ammount > 100:
    disq = ammount * 0.2
    print("You have to pay", ammount-disq)
elif ammount > 50:
    disq = ammount * 0.1
    print("You have to pay", ammount - disq)
else:
    print("You have to pay the whole ammount")

You have to pay the whole ammount

In [5]:
print("Hello", "world", 10, 34.5)

Hello world 10 34.5

In [7]:
name = "John"
print("Hello", name)
print(f"Hello {name}. How are you?")

Hello John
Hello John. How are you?

In [8]:
print("Hello\nworld")

Hello
world

In [9]:
print("To do\n\tWake up\n\tsomething")

To do
	Wake up
	something

In [21]:
letters = ['a', 'c', 'b', 'k', 'x', 'o', 'r']

In [11]:
print(letters)

['a', 'c', 'b', 'k']

In [12]:
print(letters[2])

b

In [13]:
print(letters[0])

a

In [15]:
print(letters[-2])

b

In [17]:
print(letters[1:3])

['c', 'b']

In [ ]:
print(letters[:3])

['a', 'c', 'b']

In [19]:
print(letters[1:])

['c', 'b', 'k']

In [23]:
print(letters)

['a', 'c', 'b', 'k', 'x', 'o', 'r']

In [25]:
print(letters[::3])

['a', 'k', 'r']

In [26]:
letters.append('p')
print(letters)

['a', 'c', 'b', 'k', 'x', 'o', 'r', 'p']

In [32]:
letters.insert(1, 'e')
print(letters)

['a', 'e', 'e', 'e', 'e', 'z', 'z', 'c', 'b', 'k', 'x', 'o', 'r', 'p']

In [33]:
letters.pop()
print(letters)

['a', 'e', 'e', 'e', 'e', 'z', 'z', 'c', 'b', 'k', 'x', 'o', 'r']

In [34]:
letters.pop(1)
print(letters)

['a', 'e', 'e', 'e', 'z', 'z', 'c', 'b', 'k', 'x', 'o', 'r']

In [35]:
letters.remove('c')
print(letters)

['a', 'e', 'e', 'e', 'z', 'z', 'b', 'k', 'x', 'o', 'r']

In [36]:
letters.remove('z')
print(letters)

['a', 'e', 'e', 'e', 'z', 'b', 'k', 'x', 'o', 'r']

In [37]:
nums = [1, 2, 1, 6]
nums.remove(1)
print(nums)

[2, 1, 6]

In [38]:
letters.clear()
print(letters)

[]

In [39]:
print(nums)

[2, 1, 6]

In [40]:
nums[1] = 10
print(nums)

[2, 10, 6]

In [41]:
nums[2] = 3
print(nums)

[2, 10, 3]

In [42]:
print(len(nums))

3

In [43]:
nums.append(4)
print(len(nums))

4

In [47]:
print(nums)

[2, 10, 3, 4]

In [45]:
print(min(nums))

2

In [46]:
print(sum(nums))

19

In [ ]:
print(sorted(nums))

[2, 3, 4, 10]

In [49]:
print(nums)

[2, 10, 3, 4]

In [50]:
nums.sort()
print(nums)

[2, 3, 4, 10]

In [51]:
for x in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [52]:
for x in range(5):
    print(x)

0
1
2
3
4

In [61]:
letters = ['a', 'v', 's', 't', 'e']

In [56]:
for i in range(5):
    print(letters[i])

a
v
s
t
e

In [63]:
for i in range(len(letters)):
    print(letters[i])

a
v
s
t
e

In [62]:
for x in letters:
    print(x)

a
v
s
t
e

In [59]:
for y in range(1, 11):
    print(3*y)

3
6
9
12
15
18
21
24
27
30

In [64]:
nums = [10, 20, 30, 40]
print(sum(nums))

100

In [66]:
ans = 0
for num in nums:
    ans += num
    print(ans)
    # ans = ans + num

print(ans)

10
30
60
100
100

In [68]:
ans = 1
for num in nums:
    ans *= num
    print(ans)

print(ans)

10
200
6000
240000
240000

In [ ]:
nums = [2, 3, 4, 1, 2, 3, 2, 2]

counter = 0
for num in nums:
    if num == 3:
        counter += 1

print(counter)

2

In [ ]:
my_list = [3, 1, 6, 4, 8, 1]
my_list1 = []
for i in range(5):
    num = int(input("Enter a number: "))
    my_list1.append(num)

print(my_list1)

[50, 40, 30, 20, 10]

In [4]:
print(sum(my_list1) // len(my_list1))

30

In [5]:
my_tuple = (255, 255, 255)
print(my_tuple[1])

255

In [6]:
my_tuple.append(200)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
my_tuple[1] = 150

TypeError: 'tuple' object does not support item assignment

In [8]:
my_set = {1, 1, 3, 5, 2, 1}
print(my_set)

{1, 2, 3, 5}

In [9]:
x = [1, 1, 3, 5, 2, 1]
my_set1 = set(x)
print(my_set1)

{1, 2, 3, 5}

In [10]:
for number in my_set1:
    print(number)

1
2
3
5

In [13]:
if 10 not in my_set1:
    print("10 is not in the set")

10 is not in the set

In [14]:
del my_set1

In [15]:
print(my_set1)

NameError: name 'my_set1' is not defined

In [26]:
word_dict = {'a' : 'auto',
             'b' : 'boat',
             'c' : 'car'}

print(word_dict)

{'a': 'auto', 'b': 'boat', 'c': 'car'}

In [23]:
my_dict = dict([(1, "apple"), (2, "ball")])

In [24]:
print(my_dict)

{1: 'apple', 2: 'ball'}

In [28]:
print(word_dict['c'])

car

In [29]:
print(word_dict['d'])

KeyError: 'd'

In [30]:
print(word_dict)

{'a': 'auto', 'b': 'boat', 'c': 'car'}

In [31]:
word_dict.get("b")

'boat'

In [33]:
word_dict.get("b", "This key does not exist in the dictionary")

'boat'

In [34]:
word_dict.get("d", "This key does not exist in the dictionary")

'This key does not exist in the dictionary'

In [36]:
products = {
    "bread" : 1.50,
    "milk": 2.00,
    "pita": 1.30
}

product = input("Give me the name of the product you want to buy: ")

if product in products:
    print(f"The value of {product} is {products[product]}")
else:
    print("We have not such product")

We have not such product

In [ ]:

for i in range(5):
    num = int(input("Enter a number: "))
    numbers.append(num)

30

In [38]:
numbers = [20, 30, 10, 25, 12]
ans = numbers[0]
for i in range(len(numbers)):
    if numbers[i] > ans:
        ans = numbers[i]

print(ans)

30

In [ ]:
words = ['dog', 'anna', 'a', 'cat']

counter = 0
for word in words:
    if len(word) > 1 and word[0] == word[-1]:
        counter += 1

print(counter)

1

In [8]:
votes = ["Maria", "Maria", "George", "Anna", "Maria"]

vote_count = {}

# for name in votes:
#     if name in vote_count:
#         vote_count[name] += 1
#     else:
#         vote_count[name] = 1
    
# print(vote_count)

for name in votes:
    vote_count[name] = vote_count.get(name, 0) + 1

print(vote_count)

{'Maria': 3, 'George': 1, 'Anna': 1}

In [9]:
for x in vote_count:
    print(x)

Maria
George
Anna

In [11]:
print(vote_count.keys())

dict_keys(['Maria', 'George', 'Anna'])

In [12]:
print(vote_count.items())

dict_items([('Maria', 3), ('George', 1), ('Anna', 1)])

In [ ]:
x, y, z = (1, 2, 3)
print(z)

3

In [20]:
students = {
    "George" : 18,
    "Anna" : 19,
    "Maria": 18
}

grades = {}

for student, grade in students.items():
    if grade not in grades:
        grades[grade] = []
    grades[grade].append(student)
    print(grades)

{18: ['George']}
{18: ['George'], 19: ['Anna']}
{18: ['George', 'Maria'], 19: ['Anna']}

In [21]:
print("Hello, there".split())

['Hello,', 'there']

In [22]:
print("Hello".lower())

hello

In [28]:
message = input("Enter a message: ")

words = message.split()

for i in range(len(words)):
    words[i] = words[i].lower()

words_freq = {}

for word in words:
    words_freq[word] = words_freq.get(word, 0) + 1

print(words_freq)

{'hello': 3, 'there': 2}

In [29]:
nums = []
num = int(input("Please enter a number: "))
while num != -1:
    nums.append(num)
    num = int(input("Please enter a number: "))

print(nums)

[1, 2, 3]

In [30]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 0
while num > -1:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
toppings = []
topping = input("Enter a pizza topping you like: ")
while topping != 'quit':
    toppings.append(topping)
    print(f"We are adding {topping} to your pizza")
    topping = input("Enter a pizza topping you like: ")

We are adding peperoni to your pizza
We are adding manitaria to your pizza

In [ ]:
age = int(input("Enter your age: "))
while age > 0 and age < 100:
    if age < 3:
        print("Free of charge")
    elif age < 12:
        print("10$")
    else:
        print("15$")
    age = int(input("Enter your age: "))

ValueError: invalid literal for int() with base 10: ''